<section class="row">
  <div class="desc">
    <h2>About Us</h2>
  </div>

  <section class="row big-margin-bottom">
    <div class="large-3 columns">
      <%= image_tag 'balmes.jpg', class: 'thumbnail' %>
    </div>

    <div class="large-9 columns">
      <h2>Jay Mark Balmes</h2>
      <h5 class="subheader">BS MIS</h5>
      <br>
      <p>Give it to me, I'm worth it. Oh by the way, please support my company - <b>Techtonics</b> \m/</p>
      <br>
    </div>
  </section>

  <section class="row big-margin-bottom">
    <div class="large-3 columns">
      <%= image_tag 'castro.jpg', class: 'thumbnail' %>
    </div>

    <div class="large-9 columns">
      <h2>Lorenzo Castro</h2>
      <h5 class="subheader">BS CoE</h5>
      <br>
      <p>This was supposed to be a parking lot app. Tsk.</p>
      <br>
    </div>
  </section>

</section>
