<section class="row">
  <div class="desc">
    <h2>About Us</h2>
  </div>

  <section class="row big-margin-bottom">
    <div class="large-3 columns">      
      <img src="http://41.media.tumblr.com/0a049264fba0072a818f733a6c533578/tumblr_mqvlz4t5FK1qcnibxo1_540.png" alt="" class="thumbnail"/>
    </div>

    <div class="large-9 columns">
      <h2>Juan Dela Cruz</h2>
      <h5 class="subheader">@jdcruz</h5>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis tenetur fugit, pariatur quasi soluta rerum, voluptatum, velit inventore iste suscipit voluptates voluptate earum commodi, hic sint officia fuga consectetur illo. Soluta quisquam, ex qui eum facere fugit? Officiis repudiandae eligendi velit, sunt commodi, magnam, adipisci amet explicabo rerum tempora sed incidunt perspiciatis.</p>
      <br>
    </div>
  </section>

  <section class="row big-margin-bottom">
    <div class="large-3 columns">      
      <img src="http://41.media.tumblr.com/0a049264fba0072a818f733a6c533578/tumblr_mqvlz4t5FK1qcnibxo1_540.png" alt="" class="thumbnail"/>
    </div>

    <div class="large-9 columns">
      <h2>Juan Dela Cruz</h2>
      <h5 class="subheader">@jdcruz</h5>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis tenetur fugit, pariatur quasi soluta rerum, voluptatum, velit inventore iste suscipit voluptates voluptate earum commodi, hic sint officia fuga consectetur illo. Soluta quisquam, ex qui eum facere fugit? Officiis repudiandae eligendi velit, sunt commodi, magnam, adipisci amet explicabo rerum tempora sed incidunt perspiciatis.</p>
      <br>
    </div>
  </section>

</section>