<div id="fullpage">
  <div class="section vote-bg">
    <section class="desc row title">
      <h1 id="top" class="white"><strong>VotePH</strong></h1>
        <p class="subheader white">
        <b>Welcome my fellow Filipino, it's time to make a change. Vote wisely</b>
      </p>
    </section>
  </div>

  <%= render 'positions/home_list' %>
</div>

<script>
  $(document).ready(function() {
    $('#fullpage').fullpage({
      scrollBar: true,
      continuousVertical: false,
    });
  });
</script>
