<div id="fullpage">
  <div class="section">
    <section class="desc row">
      <h1 id="top">VotePH</h1>
        <p class="subheader">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas ante eu diam laoreet rhoncus. Duis egestas purus suscipit urna laoreet gravida. Vivamus egestas eu felis sit amet suscipit. Aliquam dui ligula, ornare eu lacus at, ultricies aliquet elit. Maecenas sed ultricies dui, eget molestie ante.
      </p>
    </section>
  </div>

  <%= render 'positions/home_list' %>
</div>
