<section>
  <% if user_signed_in? %>
<% end %>

<% if @positions.size > 0 %>

  <% @positions.each do |position| %>
    <section class="candidates-row">
      <h2 class="text-center"><%= position.name %></h2>
      <% if position.candidates.size > 0 %>
          <% sorted_candidates = position.candidates.sort_by { |candidate| candidate.votes.size } %>
          <% sorted_candidates.reverse.each do |candidate| %>
            <div class="large-4 medium-2 columns">
                <div class="row">
                  <div class="large-6 medium-6 columns thumbnail"></div>
                  <div class="large-6 medium-6 columns">
                    <%= link_to "#{candidate.last_name}, #{candidate.first_name}",
                                position_candidate_path(position, candidate) %>
                    <br>
                    <blockquote>
                      <%= candidate.slogan %>
                    </blockquote>
                    <br>
                    <b>Votes:</b> <%= candidate.votes.size %>
                  </div>
                </div>
            </div>
          <% end %>
      <% else %>
        <p>
          There no candidates.
        </p>
      <% end %>
  </section>
  <% end %>

<% else %>
  <p>
    There are no positions and candidates.
  </p>
<% end %>
</section>
