<h1>Candidates List</h1>
<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <h2><%= link_to 'Edit', positions_path %></h2>
  <% end %>
<% end %>

<% if @positions.size > 0 %>

  <% @positions.each do |position| %>
    <h2><%= position.name %></h2>

    <% if position.candidates.size > 0 %>
      <ol>
        <% position.candidates.each do |candidate| %>
            <li>
              <%= link_to "#{candidate.last_name}, #{candidate.first_name}",
                          position_candidate_path(position, candidate) %>
            </li>
        <% end %>
      </ol>
    <% else %>
      <p>
        There no candidates.
      </p>
    <% end %>

  <% end %>

<% else %>
  <p>
    There are no positions and candidates.
  </p>
<% end %>
