<section class="row">
  <div class="desc">
    <h2>Positions</h2>
  </div>
  <% if @positions.size > 0 %>
  <div class="text-center">
    <table class="">
      <tbody>
        <% @positions.each do |position| %>
          <tr>
            <td><%= link_to position.name, position, class:"big-text" %></td>
            <td width="10%">
              <%= link_to edit_position_path(position), class:'big-text' do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            </td>
            <td width="10%">
              <%= link_to position, method: :delete, class:'big-text' do %>
                <i class="fa fa-times"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
  <% else %>
    <h3>No created positions.</h3>
  <% end %>
  <br>
  <%= link_to 'Create', new_position_path, {class: 'small button radius'} %>

</section>
