<h1>Candidates List</h1>
<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <h2><%= link_to 'Edit', positions_path %></h2>
  <% end %>
<% end %>
<ol>
  <li>Candidate #1</li>
  <li>Candidate #2</li>
  <li>Candidate #3</li>
</ol>
