<section class="row">
  <div class="desc">
    <h2> Candidates </h2>
  </div>
  <% if @positions.size > 0 %>
    <% @positions.each do |position| %>
      <h2 class="add-margin-bottom"><%= position.name %></h2>
      <div class="indent">
        <% if position.candidates.size > 0 %>
          <% sorted_candidates = position.candidates.sort_by { |candidate| candidate.votes.size } %>
          <% sorted_candidates.reverse.each do |candidate| %>
            <h4><%= link_to "#{candidate.last_name}, #{candidate.first_name}",
                        position_candidate_path(position, candidate) %></h4>
            <p><b><%= candidate.votes.size %></b> votes</p>
            <br>
          <% end %>        
      </div>
      <% else %>
        <p>There no candidates.</p>
      <% end %>
    <% end %>
  <% else %>
    <p>There are no positions and candidates.</p>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.role == 'admin' %>
      <h2><%= link_to 'Edit', positions_path, class:'button small radius' %></h2>
    <% end %>
  <% end %>

</section>
