/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



/* =========================================
   Typography
   =========================================
*/

h1, h2, h3, h4, h5, p, a, small, li, label, td, tr {
  font-family: "Lato", "Helvetica Neue", Arial;
}

.bold {
  font-style: 600;
}

.firm {
  font-variant:small-caps;
}

.big-text {
  font-size: 1.2em;
}

.small-text {
  font-size: 0.5em;
}

.white {
  color: #fff;
}

.sub-white {
  color: #e8e8e8;
}

.black {
  color: #000;
}


/* =========================================
   Tables
   =========================================
*/

table {
  width: 100%;
  margin:auto;
}

.mini-table {
  width: 70%;
}

tr:nth-of-type(even) {
  background: #eee;
}


/* =========================================
   Sections
   =========================================
*/

.desc {
  padding-bottom: 22px;
  margin-top: 44px;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid #ddd 1px;
  line-height: 44px;
}

#navbar {
  background-color: #fff;
  border-bottom: solid #097DB3 8px;
}

.footer {
  padding-left: 22px;
  border-top: solid #ddd 1px;
}

.add-margin-bottom {
  margin-bottom: 44px;
}

.big-margin-bottom {
  margin-bottom: 66px;
}

.small-margin-bottom {
  margin-bottom: 22px;
}

.min-top-margin {
  margin-top: -22px;
}

.add-top-margin {
  margin-top: 12px;
}

.indent {
  margin-left: 22px;
}

.footer {
  margin-top: 66px;
  padding: 22px;
}

.vote-bg {
  background-color: #097DB3;
}

/* =========================================
   Candidates
   =========================================
*/

.candidates-row h2 {
  margin-bottom: 22px;
}

.candidate {
  margin-top: 28px;
}

.thumbnail {
  max-height: 100%;
  max-width: 100%;
  border-radius: 2%;
  margin-bottom: 22px;
}

.small-thumbnail {
  max-height: 70%;
  max-width: 70%;
  border-radius: 2%;
  margin-bottom: 22px;
}

.position-row {
  margin-bottom: 44px;
}


/* =========================================
   Cards
   =========================================
*/

.card {
  height: 180px;
  width: 400px;
  border-bottom-left-radius: .8%;
  border-bottom-right-radius: .8%;
  max-height: 90%;
  max-width: 90%;
  background-color: #ddd;
  padding: 22px 22px 22px 22px;
  margin: auto;
  /*-moz-box-shadow:    0px 0px 2px 0px #000;
  -webkit-box-shadow: 0px 0px 2px 0px #000;
  box-shadow:         0px 0px 2px 0px #000;*/
}

.bar {
  height: 25px;
  width: 400px;
  border-top-left-radius: .8%;
  border-top-right-radius: .8%;
  max-height: 90%;
  max-width: 90%;
  background-color: #546E7A;
  padding: 22px 22px 22px 22px;
  margin: auto;
}



/* =========================================
   Return To Top
   =========================================
*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
