/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



/* =========================================
   Typography
   =========================================
*/

h1, h2, h3, h4, h5, p, a, small, li, label {
  font-family: "Lato";
}

.bold {
  font-style: 600;
}

.firm {
  font-variant:small-caps;
}

.big-text {
  font-size: 1.2em;
}

.small-text {
  font-size: 0.5em;
}


/* =========================================
   Tables
   =========================================
*/

table {
  width: 100%;
  margin:auto;
}

.mini-table {
  width: 70%;
}

tr:nth-of-type(odd) { 
  background: #eee; 
}


/* =========================================
   Sections
   =========================================
*/

.desc {
  padding-bottom: 22px;
  margin-top: 44px;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid #ddd 1px;
  line-height: 44px;
}

.footer {
  padding-left: 22px;
  border-top: solid #ddd 1px;
}

.add-margin-bottom {
  margin-bottom: 44px;
}

.big-margin-bottom {
  margin-bottom: 66px;
}

.small-margin-bottom {
  margin-bottom: 22px;
}

.indent {
  margin-left: 22px;
}

.footer {
  margin-top: 66px;
  padding: 22px;
}

/* =========================================
   Candidates
   =========================================
*/

.candidates-row h2 {
  margin-bottom: 22px;
}

.candidate {
  margin-top: 28px;
}

.thumbnail {
  max-height: 100%;
  max-width: 100%;
  border-radius: 2%;
  margin-bottom: 22px;
}

.small-thumbnail {
  max-height: 70%;
  max-width: 70%;
  border-radius: 2%;
  margin-bottom: 22px;
}

.position-row {
  margin-bottom: 44px;
}



