/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



/* =========================================
   Typography
   =========================================
*/

h1, h2, h3, h4, h5, p, a, small, li {
  font-family: "Lato";
}

.blockquote-big {
  font-size: 1.2em;
}

.firm {
  font-variant:small-caps;
}


/* =========================================
   Sections
   =========================================
*/

.desc {
  padding-bottom: 22px;
  margin-top: 44px;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid #ddd 1px;
  line-height: 44px;
}

.footer {
  padding-left: 22px;
  border-top: solid #ddd 1px;
}


/* =========================================
   Candidates
   =========================================
*/

.candidates-row {
  margin: 44px 22px 44px 22px;
}

.candidates-row h2 {
  margin-bottom: 22px;
}

.candidate {
  margin-top: 28px;
}

.thumbnail {
  /*height: 250px;
  width: 250px;*/
  max-height: 100%;
  max-width: 100%;
  border-radius: 2%;
  background-color: #ddd;
}
